// Place all the styles related to the admin/product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.admin {
  background: none repeat scroll 0 0 #FFFFFF;
  font-family: Helvetica,Arial,sans-serif;
  line-height: 160%;
  font-size: 72%;
  color: #323537;
    
  a, a:link, a:visited {
    color: #38678b;
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ol , ul {
    list-style: none;
  }
  
  #wrapper {
    display: table;
    width: 100%;
    
    #header {
        background: #4d5256;
        border-bottom: 1px solid #44484b;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
        text-shadow: black 0 1px 0;
        height: 25px;
        padding: 9px 30px;
        
        h1 {
            display: inline-block;
            color: #cdcdcd;
            float: left;
            margin-right: 20px;
            margin-bottom: 0px;
            padding-top: 4px;
            font-size: 1.3em;
            font-weight: normal;
        }
        
        ul#tabs {
            position: relative;
            top: 4px;
            
            
            & > li {
                display: inline-block;
                margin-right: 4px;
                
                a {
                    text-decoration: none;
                    padding: 4px 10px;
                    position: relative;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    color: #CDCDCD;
                }
                
              
                
            }
            
            & > li.current {
                & > a {
                    background: #7b8389;
                    color: #fff;
                }
            }
            
            & > li:hover {
                & > a {
                    background: none repeat scroll 0 0 #7B8389;
                    color: #fff;                    
                }
            }
        }
        
    }

  }
  
  #title_bar {
    background: #efefef;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
    background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
    text-shadow: white 0 1px 0;
    border: solid 1px #cdcdcd;
    border-color: #d4d4d4;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    font-size: 1.0em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: #5e6469;
    padding: 5px 10px 3px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    display: table;
    border-bottom-color: #EEE;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    padding: 10px 30px;
    
    h2 {
        font-size: 2.6em;
        font-weight: bold;
    }
    
  }
  
  #title_bar {
    .breadcrumb {
        display: block;
        font-size: 0.9em;
        font-weight: normal;
        line-height: 1.0em;
        margin-bottom: 12px;
        text-transform: uppercase;
        
        a, a:link, a:visited, a:active {
            color: #8a949e;
            text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        
        .breadcrumb_sep {
          margin: 0 2px;
          color: #aab2ba;
        }        
    }
        

  }
  
  #title_bar:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
  
  
  #admin_content {
    margin: 0;
    padding: 25px 30px;
    
    #main_content_wrapper {
        float: left;
        width: 100%;
        
        .panel {
            background: none repeat scroll 0 0 #F4F4F4;
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0 1px 4px #DDDDDD inset;
            margin-bottom: 20px;
            
            & > h3 {
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
                background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DFE1E2)) repeat scroll 0 0 transparent;
                background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2) repeat scroll 0 0 transparent;
                border-color: #E6E6E6 #D4D4D4 #CDCDCD;
                border-image: none;
                border-style: solid;
                border-width: 1px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
                color: #5E6469;
                font-size: 1em;
                font-weight: bold;
                line-height: 18px;
                margin-bottom: 0.5em;
                padding: 5px 10px 3px;
                text-shadow: 0 1px 0 white;                
            }
            
            & > div {
                padding: 3px 15px 15px;
            }
            
            .panel_contents {
                table {
                    margin-top: 5px;
                    
                    tr:nth-child(even) { background: none repeat scroll 0 0 #F4F5F5;}
                    tr:nth-child(odd) { background: none repeat scroll 0 0 #ECEDEE;}
                }
            }
            
        }
        
    }
  }

  
  table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
    margin-bottom: 1.4em;
    width: 100%;
    
    th {
        background: #f3f3f3;
        background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#d8d8d8));
        background: -moz-linear-gradient(-90deg, #f3f3f3, #d8d8d8);
        border-color: #E6E6E6 currentColor #CDCDCD #D4D4D4;
        border-style: solid none solid solid;
        border-width: 1px medium 1px 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
        text-shadow: 0 1px 0 white;
        color: #5E6469;
        font-size: 1em;
        font-weight: bold;
        line-height: 18px;
      
    }
    
    td {
        border-bottom: 1px solid #E8E8E8;
        padding: 10px 12px 8px;        
    }
    
    th, td {
        padding: 6px 10px 6px 5px;
        vertical-align: middle;
        text-align: left;
    }
    
    td.align-right {
        text-align: right;
    }
    
    tr:nth-child(even) {background: #F4F5F5;}
    tr:nth-child(odd) {background: #FFF;}
    
  }
  
  .new, .back {
    float: right;
    margin-right: 20px;
    
    a {
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;
        display: inline-block;
        font-weight: bold;
        font-size: 1.0em;
        font-family: Helvetica, Arial, sans-serif;
        line-height: 12px;
        margin-right: 3px;
        padding: 7px 16px 6px;
        text-decoration: none;
        background: white;
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e7e7e7));
        background: -moz-linear-gradient(-90deg, white, #e7e7e7);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
        -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
        -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
        border: solid 1px #c7c7c7;
        border-color: #c7c7c7;
        text-shadow: white 0 1px 0;
        color: #5e6469;
        padding: 12px 17px 10px;
    }
    
    a:hover {
        background: white;
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f1f1f1));
        background: -moz-linear-gradient(-90deg, white, #f1f1f1);
    }
    
  }
  
      
  .back {
      margin-right: 100px;
      margin-top: -20px;
  }
  
  form {
    
    width: 85%;
    margin: auto;
    
    input[type=text], input[type=password],
    input[type=email], input[type=number],
    input[type=url], input[type=tel], select,
    textarea {
        width: 70%;
        border: 1px solid #c9d0d6;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 0.95em;
        font-family: Helvetica, Arial, sans-serif;
        outline: none;
        padding: 8px 10px 7px;        
    }
    
    input[type=text]:focus, input[type=password]:focus,
    input[type=email]:focus, input[type=number]:focus,
    input[type=url]:focus, input[type=tel]:focus,
    textarea:focus {
        border: 1px solid #99a2aa;
        box-shadow: 0 0 4px #99a2aa;
        -moz-box-shadow: 0 0 4px #99a2aa;
        -webkit-box-shadow: 0 0 4px #99a2aa;
    }    
    
    
    fieldset{
        border: 0;
        padding: 10px 0;
        margin-bottom: 20px;
        background: #f4f4f4;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        box-shadow: inset 0 1px 4px #dddddd;
        -moz-box-shadow: inset 0 1px 4px #dddddd;
        -webkit-box-shadow: inset 0 1px 4px #dddddd;
        
        ol {
            li {
                padding: 10px;
                display: block;
                
                label {
                    display: block;
                    width: 15%;
                    float: left;
                    font-size: 1.0em;
                    font-weight: bold;
                    color: #5e6469;
                    padding: {
                        left: 20px;
                        top: 5px;
                    }
                }
                
                & > div {
                    width: 80%;
                    float: left;
                    margin: 10px;
                }
            }            
        }

    }
    
    
    input[type=submit] {
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;
        display: inline-block;
        font-weight: bold;
        font-size: 1.0em;
        font-family: Helvetica, Arial, sans-serif;
        line-height: 12px;
        margin-right: 3px;
        padding: 7px 16px 6px;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        background: #838a90;
        background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
        background: -moz-linear-gradient(-90deg, #838a90, #414549);
        text-shadow: black 0 1px 0;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
        -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
        -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
        border: solid 1px #484e53;
        border-color: #484e53;
        border-top-color: #616a71;
        border-right-color: #484e53;
        border-bottom-color: #363b3f;
        border-left-color: #484e53;
        color: #efefef;
        cursor: pointer;
    }      
    
    
  }
  
}





/*


    body.admin form input[type=submit].disabled {
      opacity: 0.5;
      cursor: default; }
    body.admin form input[type=submit]:not(.disabled):hover {
      background: #8b9297;
      background: -webkit-gradient(linear, left top, left bottom, from(#8b9297), to(#484d51));
      background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b9297', endColorstr='#484d51');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b9297', endColorstr='#484d51'); }
    body.admin form input[type=submit]:not(.disabled):active {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
      -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
      -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
      background: #71797f;
      background: -webkit-gradient(linear, left top, left bottom, from(#71797f), to(#35383b));
      background: -moz-linear-gradient(-90deg, #71797f, #35383b);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71797f', endColorstr='#35383b');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71797f', endColorstr='#35383b'); }
  body.admin form .buttons, body.admin form .actions {
    margin-top: 15px; }
    body.admin form .buttons input[type=submit], body.admin form .actions input[type=submit] {
      margin-right: 10px; }
  body.admin form fieldset.buttons li, body.admin form fieldset.actions li {
    float: left;
    padding: 0; }
    body.admin form fieldset.buttons li.cancel a, body.admin form fieldset.actions li.cancel a {
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px;
      border-radius: 200px;
      display: inline-block;
      font-weight: bold;
      font-size: 1.0em;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 12px;
      margin-right: 3px;
      padding: 7px 16px 6px;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      background: white;
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e7e7e7));
      background: -moz-linear-gradient(-90deg, white, #e7e7e7);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e7e7e7');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e7e7e7');
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
      -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
      -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
      border: solid 1px #c7c7c7;
      border-color: #c7c7c7;
      border-top-color: lightgrey;
      border-right-color: #c7c7c7;
      border-bottom-color: #c2c2c2;
      border-left-color: #c7c7c7;
      text-shadow: white 0 1px 0;
      color: #5e6469; }
      body.admin form fieldset.buttons li.cancel a.disabled, body.admin form fieldset.actions li.cancel a.disabled {
        opacity: 0.5;
        cursor: default; }
      body.admin form fieldset.buttons li.cancel a:not(.disabled):hover, body.admin form fieldset.actions li.cancel a:not(.disabled):hover {
        background: white;
        background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f1f1f1));
        background: -moz-linear-gradient(-90deg, white, #f1f1f1);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f1f1f1');
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f1f1f1'); }
      body.admin form fieldset.buttons li.cancel a:not(.disabled):active, body.admin form fieldset.actions li.cancel a:not(.disabled):active {
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
        -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
        -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
        border-color: #b9b9b9;
        border-top-color: #c2c2c2;
        border-right-color: #b9b9b9;
        border-bottom-color: #b7b7b7;
        border-left-color: #b9b9b9;
        background: #f3f3f3;
        background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#d8d8d8));
        background: -moz-linear-gradient(-90deg, #f3f3f3, #d8d8d8);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#d8d8d8');
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#d8d8d8'); }
      body.admin form fieldset.buttons li.cancel a span.icon svg path, body.admin form fieldset.buttons li.cancel a span.icon svg polygon, body.admin form fieldset.buttons li.cancel a span.icon svg rect, body.admin form fieldset.buttons li.cancel a span.icon svg circle, body.admin form fieldset.actions li.cancel a span.icon svg path, body.admin form fieldset.actions li.cancel a span.icon svg polygon, body.admin form fieldset.actions li.cancel a span.icon svg rect, body.admin form fieldset.actions li.cancel a span.icon svg circle {
        fill: #777777 !important; }
      body.admin form fieldset.buttons li.cancel a span.icon, body.admin form fieldset.actions li.cancel a span.icon {
        width: 9px;
        height: 9px; }
      body.admin form fieldset.buttons li.cancel a span.icon svg, body.admin form fieldset.actions li.cancel a span.icon svg {
        width: 9px;
        height: 9px; }
body.admin .sidebar_section label {
  display: block;
  text-transform: uppercase;
  color: #5e6469;
  font-size: 0.9em;
  font-weight: bold; }
body.admin .sidebar_section select {
  width: 240px; }
body.admin .sidebar_section input[type=text], body.admin .sidebar_section input[type=password], body.admin .sidebar_section input[type=email], body.admin .sidebar_section input[type=url], body.admin .sidebar_section input[type=tel], body.admin .sidebar_section textarea {
  width: 220px; }
body.admin form.filter_form .filter_form_field {
  margin-bottom: 10px;
  clear: both; }
  body.admin form.filter_form .filter_form_field.filter_numeric input[type=text] {
    margin-left: 16px;
    width: 88px; }
  body.admin form.filter_form .filter_form_field.filter_numeric select {
    width: 108px; }
  body.admin form.filter_form .filter_form_field.filter_check_boxes label {
    margin-bottom: 3px; }
  body.admin form.filter_form .filter_form_field.filter_check_boxes .check_boxes_wrapper label {
    font-weight: normal;
    margin-bottom: 3px;
    text-transform: none;
    font-size: 1.0em; }
    body.admin form.filter_form .filter_form_field.filter_check_boxes .check_boxes_wrapper label input {
      vertical-align: baseline; }
  body.admin form.filter_form .filter_form_field.filter_date_range .seperator {
    display: inline-block;
    text-align: center;
    width: 12px; }
  body.admin form.filter_form .filter_form_field.filter_date_range input[type=text] {
    background: white url("/images/admin/datepicker/datepicker-input-icon.png") no-repeat 100% 7px;
    padding-right: 27px;
    width: 71px; }
body.admin form.filter_form a.clear_filters_btn {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e7e7e7));
  background: -moz-linear-gradient(-90deg, white, #e7e7e7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e7e7e7');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e7e7e7');
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: lightgrey;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: white 0 1px 0;
  color: #5e6469; }
  body.admin form.filter_form a.clear_filters_btn.disabled {
    opacity: 0.5;
    cursor: default; }
  body.admin form.filter_form a.clear_filters_btn:not(.disabled):hover {
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f1f1f1));
    background: -moz-linear-gradient(-90deg, white, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f1f1f1');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f1f1f1'); }
  body.admin form.filter_form a.clear_filters_btn:not(.disabled):active {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
    border-color: #b9b9b9;
    border-top-color: #c2c2c2;
    border-right-color: #b9b9b9;
    border-bottom-color: #b7b7b7;
    border-left-color: #b9b9b9;
    background: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#d8d8d8));
    background: -moz-linear-gradient(-90deg, #f3f3f3, #d8d8d8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#d8d8d8');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#d8d8d8'); }
body.admin .comments .admin_comment {
  clear: both;
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 700px; }
  body.admin .comments .admin_comment .admin_comment_meta {
    width: 130px;
    float: left;
    font-size: 0.9em;
    color: #767e84; }
    body.admin .comments .admin_comment .admin_comment_meta .admin_comment_author {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
      color: #5e6469; }
  body.admin .comments .admin_comment .admin_comment_body {
    margin-left: 150px; }
body.admin .comments form.admin_comment {
  margin: 0;
  padding: 0;
  margin-left: 150px; }
  body.admin .comments form.admin_comment fieldset.inputs {
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  body.admin .comments form.admin_comment li {
    padding: 0; }
  body.admin .comments form.admin_comment fieldset.buttons {
    padding: 0;
    margin-top: 5px; }
body.admin.logged_in .flash {
  background: #f7f1d3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f1d3), to(#f5edc5));
  background: -moz-linear-gradient(-90deg, #f7f1d3, #f5edc5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f1d3', endColorstr='#f5edc5');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f1d3', endColorstr='#f5edc5');
  text-shadow: #fafafa 0 1px 0;
  border-bottom: 1px solid #eee098;
  color: #cb9810;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.0em;
  margin-bottom: 10px;
  padding: 13px 30px 11px;
  position: relative;
  top: -15px; }
  body.admin.logged_in .flash.flash_notice {
    background: #dce9dd;
    background: -webkit-gradient(linear, left top, left bottom, from(#dce9dd), to(#ccdfcd));
    background: -moz-linear-gradient(-90deg, #dce9dd, #ccdfcd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce9dd', endColorstr='#ccdfcd');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce9dd', endColorstr='#ccdfcd');
    border-bottom: 1px solid #adcbaf;
    color: #416347; }
  body.admin.logged_in .flash.flash_error {
    background: #f5e4e4;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5e4e4), to(#f1dcdc));
    background: -moz-linear-gradient(-90deg, #f5e4e4, #f1dcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5e4e4', endColorstr='#f1dcdc');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5e4e4', endColorstr='#f1dcdc');
    border-bottom: 1px solid #e0c2c0;
    color: #b33c33; }
body.admin.logged_out .flash {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: white 0 1px 0;
  background: none;
  color: #666;
  font-weight: bold;
  line-height: 1.0em;
  margin-bottom: 10px;
  padding: 0; }

body.admin table tr td {
  vertical-align: top; }
body.admin table.index_table {
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  border-spacing: 0; }
  body.admin table.index_table th {
    background: #efefef;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
    background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dfe1e2');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dfe1e2');
    text-shadow: white 0 1px 0;
    border: solid 1px #cdcdcd;
    border-color: #d4d4d4;
    border-top-color: #e6e6e6;
    border-right-color: #d4d4d4;
    border-bottom-color: #cdcdcd;
    border-left-color: #d4d4d4;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px white inset;
    font-size: 1.0em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: #5e6469;
    padding: 5px 10px 3px 10px;
    border-right: none;
    text-align: left;
    padding-left: 12px;
    padding-right: 12px; }
    body.admin table.index_table th span.icon svg path, body.admin table.index_table th span.icon svg polygon, body.admin table.index_table th span.icon svg rect, body.admin table.index_table th span.icon svg circle {
      fill: #5e6469 !important; }
    body.admin table.index_table th span.icon {
      width: 1em;
      height: 1em; }
    body.admin table.index_table th span.icon svg {
      width: 1em;
      height: 1em; }
    body.admin table.index_table th a, body.admin table.index_table th a:link, body.admin table.index_table th a:visited {
      color: #5e6469;
      text-decoration: none;
      display: block;
      white-space: nowrap;
      -webkit-font-smoothing: antialiased; }
    body.admin table.index_table th.sortable a {
      background: url("/images/admin/orderable.png") no-repeat 0 4px;
      padding-left: 13px; }
    body.admin table.index_table th.sorted-asc a {
      background-position: 0 -27px; }
    body.admin table.index_table th.sorted-desc a {
      background-position: 0 -56px; }
    body.admin table.index_table th.sorted-asc, body.admin table.index_table th.sorted-desc {
      background: #e2e2e2;
      background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#d2d4d6));
      background: -moz-linear-gradient(-90deg, #e2e2e2, #d2d4d6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#d2d4d6');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#d2d4d6'); }
    body.admin table.index_table th:last-child {
      border-right: solid 1px #d4d4d4; }
  body.admin table.index_table tr.even td {
    background: #f4f5f5; }
  body.admin table.index_table tr.selected td {
    background: #d9e4ec; }
  body.admin table.index_table td {
    padding: 10px 12px 8px 12px;
    border-bottom: 1px solid #e8e8e8;
    vertical-align: top; }

body.admin .attributes_table {
  overflow: hidden; }
body.admin .attributes_table table th, body.admin .attributes_table table td {
  padding: 8px 12px 6px 12px;
  vertical-align: top;
  border-bottom: 1px solid #e8e8e8; }
body.admin .attributes_table table th {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  width: 150px;
  font-size: 0.9em;
  padding-left: 0;
  text-transform: uppercase;
  color: #5e6469;
  text-shadow: white 0 1px 0; }
body.admin .attributes_table table td .empty {
  color: #bbb;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em; }
body.admin .sidebar_section .attributes_table th {
  width: 50px; }
body.admin #collection_selection_toggle_panel:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }
body.admin #collection_selection_toggle_panel > .resource_selection_toggle_cell {
  float: left; }
body.admin #collection_selection_toggle_panel #collection_selection_toggle_explaination {
  float: left;
  margin-left: 5px;
  font-style: italic; }
body.admin .blank_slate_container {
  clear: both;
  text-align: center; }
  body.admin .blank_slate_container .blank_slate {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    border: 1px dashed #DADADA;
    color: #AAA;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center; }
    body.admin .blank_slate_container .blank_slate small {
      display: block;
      font-size: 0.9em;
      font-weight: normal; }
body.admin .admin_dashboard .blank_slate_container .blank_slate {
  margin-top: 40px;
  margin-bottom: 40px; }
body.admin .with_sidebar .blank_slate_container .blank_slate {
  margin-top: 80px; }


body.admin .paginated_collection_contents {
  clear: both; }
body.admin .pagination {
  float: right;
  font-size: 0.9em;
  margin-left: 10px; }
  body.admin .pagination a {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e7e7e7));
    background: -moz-linear-gradient(-90deg, white, #e7e7e7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e7e7e7');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e7e7e7');
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    border: solid 1px #c7c7c7;
    border-color: #c7c7c7;
    border-top-color: lightgrey;
    border-right-color: #c7c7c7;
    border-bottom-color: #c2c2c2;
    border-left-color: #c7c7c7;
    text-shadow: white 0 1px 0;
    color: #5e6469; }
    body.admin .pagination a.disabled {
      opacity: 0.5;
      cursor: default; }
    body.admin .pagination a:not(.disabled):hover {
      background: white;
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f1f1f1));
      background: -moz-linear-gradient(-90deg, white, #f1f1f1);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f1f1f1');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f1f1f1'); }
    body.admin .pagination a:not(.disabled):active {
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
      -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
      -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
      border-color: #b9b9b9;
      border-top-color: #c2c2c2;
      border-right-color: #b9b9b9;
      border-bottom-color: #b7b7b7;
      border-left-color: #b9b9b9;
      background: #f3f3f3;
      background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#d8d8d8));
      background: -moz-linear-gradient(-90deg, #f3f3f3, #d8d8d8);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#d8d8d8');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#d8d8d8'); }
  body.admin .pagination span.page.current {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    background: #838a90;
    background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
    background: -moz-linear-gradient(-90deg, #838a90, #414549);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#838a90', endColorstr='#414549');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#838a90', endColorstr='#414549');
    text-shadow: black 0 1px 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    border: solid 1px #484e53;
    border-color: #484e53;
    border-top-color: #616a71;
    border-right-color: #484e53;
    border-bottom-color: #363b3f;
    border-left-color: #484e53;
    color: #efefef; }
    body.admin .pagination span.page.current.disabled {
      opacity: 0.5;
      cursor: default; }
    body.admin .pagination span.page.current:not(.disabled):hover {
      background: #8b9297;
      background: -webkit-gradient(linear, left top, left bottom, from(#8b9297), to(#484d51));
      background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b9297', endColorstr='#484d51');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b9297', endColorstr='#484d51'); }
    body.admin .pagination span.page.current:not(.disabled):active {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
      -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
      -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
      background: #71797f;
      background: -webkit-gradient(linear, left top, left bottom, from(#71797f), to(#35383b));
      background: -moz-linear-gradient(-90deg, #71797f, #35383b);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71797f', endColorstr='#35383b');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71797f', endColorstr='#35383b'); }
  body.admin .pagination a, body.admin .pagination span.page.current {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 4px;
    padding: 2px 5px; }
body.admin .pagination_information {
  float: right;
  margin-bottom: 5px;
  color: #b3bcc1; }
  body.admin .pagination_information b {
    color: #5c6469; }

body.admin #footer {
  padding: 30px 30px;
  font-size: 0.8em;
  clear: both; }
  body.admin #footer p {
    padding-top: 10px; }
body.admin #index_footer {
  padding-top: 5px;
  text-align: right;
  font-size: 0.85em; }
body.admin .index_content {
  clear: both; }


*/