        <section id="about">
                <h1 id="first">It's more than hard work.</h1>
                <h1 id="second">It's our passion.</h1>
        </section>
        <h1>Company profile</h1>
    
          <%= raw @about.profile %>

        <h1>Vision and Goals</h1>
           
          <%= raw @about.vision %>
  
        <h1>Location</h1>
          
          <%= raw @about.location %>