        <section id="about">
                <h1 id="first">It's more than hard work.</h1>
                <h1 id="second">It's our passion.</h1>
        </section>
        <h1>Company profile</h1>
        <p>
                Based in Canada, Robotics Vacuum Company was founded on the idea that it's possible to create robots 
                that can perform household chores as intelligently as humans. In our Lab, our engineers work tirelessly 
                to build robotic vacuums that aren't gadgets, but powerful cleaning machines.
                Robotics Vacuum Company don't just work harder, they work smarter. They'll do the dirty work, 
                so you won't have to. In fact, you won't even have to be at home.
        </p>
        <p>
                Moreover, we also provide <span class="strong">"One package solution"</span> that has been enhancing our service to many outsourcing customers, 
                being under the predominance. 
        </p>
        <h1>Vision and Goals</h1>
        <p>
                Our vision is to provide foundations for society's future. Our mission is to be the world's most respected and attractive 
                company in our industry - creating value for all our stakeholders. Our goals are to:
        </p>
        <ul>
                <li>Continually set the highest standards of customer satisfaction in our industry</li>
                <li>Secure the strongest competitive position in our markets</li>
                <li>Demonstrate our commitment to sustainable development</li>
        </ul>
        <h1>Location</h1>
        <p>
                123 St. Anne's RD <br/>
                Winnipeg MB, Canada R2N 0A2
        </p>
                      