			<p class="ads">
				Do you want an easier solution for a house cleaning? 
				We can provide the best robot vacuums.
			</p>
			<img class="home" src="assets/samsung_vacuum.jpg" alt="robot vacuum cleaner" title="robot vacuum cleaner" />
			<p class="ads">
				You can save your time and energy. You can also go back to your normal life without the hassle of cleaning.
			</p>
			<div class="clear"></div>
			<h4>Best Product</h4>
			<h2>Robot Vacuums</h2>
			<p>
				Robot Vacuums offer the latest in the vacuuming technologies.  Providing high tech
                robotic vacuums that not only give you a clean living environment, but offer you the extra time and 
                convenience of having the cleaning done for you.
			</p>
			<h2>Testimonials</h2>
			<p>
				I purchased one of these vacuums in the summer. I have to say that it provides me  more time to spend 
				with my family doing the things that I love to do, rather than clean my house. <br/>
				<span class="strong">Foster - Winnipeg MB</span> 
			</p>
			<p>
				This is an awesome product. I really like it<br/>
				<span class="strong">Jane - Winnipeg MB</span> 
			</p>
		    <div class="space">
			
		    </div>