 <%=form_tag(check_out_path, :method => :get, :id => 'cart_form') do %>
  <div class="title_container">
     <h1 class="title">Shopping Cart</h1>
     <div><%=image_submit_tag("checkout.png", :alt => "check out")%></div>
  </div>
  <div class="clear"></div>
  
 <%= render :partial => "shared/cart", :object => [@product_hash], :locals =>{:after_tax => false} %>
 
     <div class="title_container">
      <h1></h1>
     <div><%=image_submit_tag("checkout.png", :alt => "check out")%></div>
  </div>
  <div class="clear"></div>    
<% end %>