// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/***********************************************************************/
/*                        About Us Part                                */
/***********************************************************************/

section#content{
    
    & > h1 {
	font-size: 2em;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
	margin: 30px 10px 0px 15px;
	padding: 5px 0 5px;
	border-bottom: 3px solid #666666;        
    }
    
    section#about {
        width: 747px;
        height: 200px;
        margin: 20px 0px 10px 10px;
        background:#fff;
        background-image:url("/assets/samsung_vacuum.jpg");
        background-size:250px 200px;
        background-position: 400px 0px;
        background-repeat: no-repeat;
        border:solid 1px #dedede;
        border-radius: 5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        
        h1 {
            position: relative;
            font-weight: normal;
            font-size: 24px;            
        }
        
        h1#first {
            top: 60px;
            left:40px;            
        }
        
        h1#second {
                top: 70px;
                left:40px;
        }        
            
    }
    
    ul {
        color: #242C2E;
	font-size: 15px;
	line-height: 150%;
	margin: 5px 15px 20px;
	list-style-position:inside;
	list-style-type:disc;
        
        li {
            display:list-item;
        }
    }
    
}




