// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
 /***********************************************************************/
/*                        Shopping Cart                                */
/***********************************************************************/
 
 
 section#content {
    #cart_form {
        .title_container{
           h1{
             float: left;
             font-size: 2.27em;
             line-height: 1.27em;
             margin: {
               left: 23px;
               top : 10px;
             }
             width : 590px;
           }
           div {
               float: left;
               input[type="image"] {
                   width: 120px;
                   height: 40px;
                   margin-top: 8px;
               }
           }
        }
        table {
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            width: 750px;
            border: 1px solid #E1E5E7;
            border-collapse: collapse;
            border-spacing: 0;
            
            th {
                padding : 20px;
                font-size : 14px;
                text-align: left;
                border-bottom: 1px solid #E1E5E7;
            }
            
            td {
                font-family: 'Times New Roman',Times,Serif;
                font-size : 12px;
                padding: 7px;
                
                div.price {
                    color: #AE1231;
                    font-size: 14px;
                    font-weight: bold;
                    margin: 7px 0px 15px; 
                }
                
                img{
                    margin-left: 5px;
                    width: 80px;
                    height: 80px;
                }
                
                h3, h4{
                    margin-top: 3px;
                    font-size: 13px;
                    font-weight: bold;
                    color: #043464;
                    line-height: 1.27em;
                }
                h4 {
                    color: #000;
                    font-weight: normal;
                }
            }
            
            td.first{
                width: 100px;
            }
            
            td.second{
                width: 220px;
            }
            
            td.fourth{
                div{
                    float: right;
                    margin-right: 30px;
                }
            }
            
            td.fifth{
                div {
                    float: right;
                    margin-right: 15px;
                }
                
            }            
                        

            td.sixth{
                div {
                    float: right;
                    margin-right: 25px;
                }
                
            }
            
            tfoot{
                background: none repeat scroll 0 0 #F5FAFC;
                border-top: 1px solid #D5D5D5;
                
                div{
                    float: right;
                    width: 450px;
                    margin-right: 20px;
                    font-size: 14px;
                    dl{
                        float: right;
                        padding: 5px;
                        font-weight: bold;
                        color: #AE1231;
                        
                        dt {
                            clear: left;
                            float: left;
                            width: 300px;
                            text-align: right;
                        }
                        dd {
                            float: left;
                            width: 100px;
                            text-align: right;
                        }
                    }

                }
            }

        }
    }


 }