<p id="notice"><%= notice %></p>

<p>
  <b>Profile:</b>
  <%= raw @admin_about.profile %>
</p>

<p>
  <b>Vision:</b>
  <%= raw @admin_about.vision %>
</p>

<p>
  <b>Location:</b>
  <%= raw @admin_about.location %>
</p>

