<div class="new">
<%= link_to 'List', admin_abouts_path %>
</div>
<div class="clear"></div>
<br/>

<table>
  <tr>
    <th>Profile</th>
  </tr>
  <tr>
    <td><%= raw @admin_about.profile %></td>
  </tr>
</table>
<table>
  <tr>
    <th>Vision</th>
  </tr>
  <tr>
    <td><%= raw @admin_about.vision %></td>
  </tr>
</table>

<table>
  <tr>
    <th>Location</th>    
  </tr>
  <tr>
    <td><%= raw @admin_about.location %></td>    
  </tr>
</table>